# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.dart.js
*.dart.js.map
*.dart.library.json

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Env / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Node
node_modules/
