rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwnerDoc(userId) {
      return request.auth.uid == userId;
    }

    match /articles/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /videos/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /branch/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /info/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && isOwnerDoc(userId);
    }

    match /fcm/{doc} {
      allow read: if isAuthenticated() && request.auth.uid == resource.data.id_patient;
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.id_patient;
      allow update, delete: if false;
    }

    match /historynotif/{doc} {
      allow read: if isAuthenticated() && request.auth.uid == resource.data.id_patient;
      allow create, update, delete: if false;
    }

    match /biometric/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /patients/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /otps/{doc} {
      allow read: if false;
      allow write: if false;
    }
  }
}
